<h1>To <%= @conversation.receiver.email %></h1>

<div class="group">
  <div id="conversations-sidebar">
    <h2>Your conversations</h2>

    <%= render @conversations %>
  </div>

  <div id="conversation-main">
    <div id="conversation-body" data-conversation-id="<%= @conversation.id %>">
      <%= render partial: 'personal_messages/personal_message',
                 collection: @conversation.personal_messages,
                 locals: {personal_message: :personal_mesage} %>
    </div>

    <%= form_for @personal_message, url: '#', html: {class: 'async-conversation'} do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit %>
    <% end %>
  </div>
</div>